.fecha {
    font-size: 0.5em;
}
.card-margin-small {
    margin: 12px;
}

.criticidad-baja {
    background-color: #e0dfdf;
}

.criticidad-media {
    background-color: #c5fbbd;
}

.criticidad-alta {
    background-color: #e8aaaa;
}