.fecha {
    font-size: 0.5em;
}
.card-margin-small {
    margin: 12px;
}

.criticidad-baja {
    background-color: #ffffff;
}

.criticidad-media {
    background-color: #ffe7b9;
}

.criticidad-alta {
    background-color: #ffd4d4;
}